<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div>
        <h2>
            Zomato Item List
        </h2>
    </div>
    <div class="food-categories" *ngFor="let item of foodcategories" >
        <div class="food-div" (click)=" navigateToFoodCategory(item.categoryId)">
            <img [src]="item.photoUrl" alt="">
            <h4>Item ID: {{item.categoryId}}</h4>
            <h4>Food name: {{item.categoryName}}</h4>
        </div>
      
    </div>

    <div class="about">
        <h4><i class="fa-solid fa-copyright"></i>Zomato Item List.All rights reserved !</h4>
    </div>
  
    
</body>
</html>
